body {
    color: black;
    background-color: lightgrey;
    //not grey, chicken color, and adjust text color for something that looks good with it
}

.contactform {
    align-self: center;
    //align center
}